/* @font-face {
    font-family: "Dancing Script";
    src: url();
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: Lato;
    src: url("./assets/fonts/Lato/Lato-Regular.ttf");
} */


:root {
    /* Fonts */
    --primary-font: Lato;
    --secondary-font: "Dancing Script";

    /* Colors */
    --white: #FDFFFF;
    --black: #000;
    --primary-color: #1A1A1A;
    --secondary-color: #B10F2E;
    --tertiary-color: #9F9FED;
    --alternative-color: #39276A;
    --background-color: var(--black); 

    --primary-font-color: #000;

    font-family: var(--primary-font), Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary-font-color);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
